/* all app scss styles here */

@import compass/css3
@import compass/utilities
@import modules/nav


$button-border-color: #D9E7F1

body
  padding: rem-calc(40px 0)

h1
  font-weight: 400

  &.question
    color: black

    &.dash:before
      content: "—"
      font-size: rem-calc(41px)
      position: absolute
      left: -30px

.blue
  color: $primary-color


@media #{$large-up}

