
.row.social-buttons
	.column.text-center
		a.button.radius.with-icon.fixed-size(href="#")
			i.social-facebook
		a.button.radius.with-icon.fixed-size(href="#")
			i.social-instagram
		a.button.radius.with-icon.fixed-size(href="#")
			i.envelope

.waves-footer
	.row
		.small-12.columns.text-center
			p Akcję Piję wodę z kranu prowadzi fundacja Czyściutko (KRS 0000536142)
			p © 2015 Fundacja Czyściutko
	.waste

script(src="bower_components/smooth-scroll/smooth-scroll.min.js")
script.
	var body, navToggled, toggleNav, trigger;

	navToggled = false;

	body = document.getElementsByTagName('body')[0];

	mobileNavElements = document.getElementsByClassName('mobile-nav__element');

	trigger = document.getElementById('mobile-nav__trigger');

	toggleNav = function() {
	  navToggled = !navToggled;
	  if (navToggled === true) {
	    return body.className = 'mobile-nav--show';
	  } else {
	    return body.className = '';
	  }
	};


	trigger.onclick = toggleNav;

	for (_i = 0, _len = mobileNavElements.length; _i < _len; _i++) {
	  navLink = mobileNavElements[_i];
	  navLink.onclick = toggleNav
	}


