
.row.social-buttons
  .column.small-12.medium-2.medium-offset-3.text-center.medium-text-right
    a.button.radius.with-icon.fixed-size(href="https://www.facebook.com/PijeWodeZKranu")
      i.social-facebook
  .column.small-12.medium-2.text-center
    a.button.radius.with-icon.fixed-size(href="http://instagram.com/pijewodezkranu")
      i.social-instagram
  .column.small-12.medium-5.text-center.medium-text-left
    a.button.radius.with-icon.fixed-size(href="mailto:kontakt@pijewodezkranu.org")
      i.envelope

.waves-footer
  .row
    .small-12.columns.text-center
      p Akcję Piję wodę z kranu prowadzi fundacja Czyściutko (KRS 0000536142)
      p © 2015 Fundacja Czyściutko
  .waste

//- script(src="js/app.min.js")
// build:js js/app.min.js
script(src="js/smooth-scroll/smooth-scroll.js")
script(src="js/waypoints/lib/noframework.waypoints.js")
//- script(src="js/app.js")
// endbuild

script.

  var body, navToggled, toggleNav, trigger;

  navToggled = false;

  body = document.getElementsByTagName('body')[0];

  mobileNavElements = document.getElementsByClassName('mobile-nav__element');

  trigger = document.getElementById('mobile-nav__trigger');

  toggleNav = function() {
    navToggled = !navToggled;
    if (navToggled === true) {
      return body.className = 'mobile-nav--show';
    } else {
      return body.className = '';
    }
  };


  trigger.onclick = toggleNav;

  for (_i = 0, _len = mobileNavElements.length; _i < _len; _i++) {
    navLink = mobileNavElements[_i];
    navLink.onclick = toggleNav
  }

  var tudostanieszwodezkranuMenuElement = document.getElementById("tudostanieszwodezkranuMenu");
  var prawdyimityMenuElement = document.getElementById("prawdyimityMenu");
  var wesprzyjMenuElement = document.getElementById("wesprzyjMenu");
  var partnerzyMenuElement = document.getElementById("partnerzyMenu");
  var onasMenuElement = document.getElementById("onasMenu");
  var prasaMenuElement = document.getElementById("prasaMenu");


  //- Podświetlanie menu
  function highlightMenu(element) {
    clearMenuHighLighting();
    element.className = element.className + ' menu-active';
  }
  function removeMenuElementClass(elementVar) {
  	elementVar.className = elementVar.className.replace(/\s*\bmenu-active\b/,'');
  }
  function clearMenuHighLighting() {
  	removeMenuElementClass(tudostanieszwodezkranuMenuElement);
  	removeMenuElementClass(prawdyimityMenuElement);
  	removeMenuElementClass(wesprzyjMenuElement);
  	removeMenuElementClass(partnerzyMenuElement);
  	removeMenuElementClass(onasMenuElement);
  	removeMenuElementClass(prasaMenuElement);
  }
  //- function createMenu(sectionId, menuId) {
  var getWater = new Waypoint({
    element: document.getElementById("tudostanieszwodezkranu"),
    handler: function(direction) {
      if(direction == "up") {
        clearMenuHighLighting()
      } else {
        highlightMenu(tudostanieszwodezkranuMenuElement)
      }
    },
    offset: 10
  })
  var truthsAndMyths = new Waypoint({
    element: document.getElementById("prawdyimity"),
    handler: function(direction) {
      if(direction == "up") {
        highlightMenu(tudostanieszwodezkranuMenuElement)
      } else {
        highlightMenu(prawdyimityMenuElement)
      }
    },
    offset: 150
  })
  var howToSupport = new Waypoint({
    element: document.getElementById("wesprzyj"),
    handler: function(direction) {
      if(direction == "up") {
        highlightMenu(prawdyimityMenuElement)
      } else {
        highlightMenu(wesprzyjMenuElement)
      }
    },
    offset: 100
  })
  var partners = new Waypoint({
    element: document.getElementById("partnerzy"),
    handler: function(direction) {
      if(direction == "up") {
        highlightMenu(wesprzyjMenuElement)
      } else {
        highlightMenu(partnerzyMenuElement)
      }
    },
    offset: 100
  })
  var about = new Waypoint({
    element: document.getElementById("onas"),
    handler: function(direction) {
      if(direction == "up") {
        highlightMenu(partnerzyMenuElement)
      } else {
        highlightMenu(onasMenuElement)
      }
    },
    offset: 50
  })
  var media = new Waypoint({
    element: document.getElementById("prasa"),
    handler: function(direction) {
      if(direction == "up") {
        highlightMenu(onasMenuElement)
      } else {
        highlightMenu(prasaMenuElement)
      }
    },
    offset: 50
  })
