
.row.social-buttons
  .column.small-12.medium-4.text-center
    a.button.radius.with-icon.fixed-size(href="https://www.facebook.com/PijeWodeZKranu")
      i.social-facebook
  .column.small-12.medium-4.text-center
    a.button.radius.with-icon.fixed-size(href="http://instagram.com/pijewodezkranu")
      i.social-instagram
  .column.small-12.medium-4.text-center
    a.button.radius.with-icon.fixed-size(href="mailto:kontakt@pijewodezkranu.org")
      i.envelope

.waves-footer
  .row
    .small-12.columns.text-center
      p Akcję Piję wodę z kranu prowadzi fundacja Czyściutko (KRS 0000536142)
      p © 2015 Fundacja Czyściutko
  .waste

//- script(src="js/app.min.js")
// build:js js/app.min.js
script(src="js/smooth-scroll.js")
script(src="js/noframework.waypoints.js")
script(src="js/app.js")
// endbuild
