head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Piję Wodę z Kranu

  // bower:css
  // endbower
  // endbuild
  // build:css css/app.min.css
  link(rel="stylesheet", href="css/app.css")

  // endbuild
  // build:js js/vendor/modernizr.min.js
  // script(src="bower_components/modernizr/modernizr.js")
  // endbuild

  style
    body.mobile-nav--show .mobile-nav__trigger span{background:none !important}.mobile-nav--show .mobile-nav__trigger span:before,.mobile-nav--show .mobile-nav__trigger span:after{top:0}.mobile-nav--show .mobile-nav__trigger span:before{transform:rotate3d(0, 0, 1, 45deg)}.mobile-nav--show .mobile-nav__trigger span:after{transform:rotate3d(0, 0, 1, -45deg)}.mobile-nav--show .mobile-nav{transform:translateX(0)}.mobile-nav--show .mobile-nav li{opacity:1;transform:translateX(0)}
