//- include _mixins

doctype html
html(lang="pl")
  include header
  body
    include includes/menu
    .content
      include includes/mainPage
      include includes/getWaterFromTheTap
      include includes/truthsAndMyths
      include includes/howToSupport
      include includes/partners
      include includes/about
      include includes/media

    include footer
