//- include _mixins

doctype html
html(class="no-js", lang="en")
  include header
  body
    //- include includes/menu

    row.content
      //- include includes/firstPage

      //- include includes/secondPage

      //- include includes/thridPage

      //- include includes/fourthPage

      //- include includes/fifthPage
      
      include includes/sixthPage
      
      include includes/seventhPage

    include footer
