//- include _mixins

doctype html
html(class="no-js", lang="en")
  include header
  body
    include includes/menu
    .content
      include includes/mainPage
      .sectionBreak
      include includes/getWaterFromTheTap
      .sectionBreak
      include includes/truthsAndMyths
      .sectionBreak
      include includes/howToSupport
      .sectionBreak
      include includes/partners
      .sectionBreak
      include includes/about
      .sectionBreak
      include includes/media

    include footer
