//- include _mixins

doctype html
html(class="no-js", lang="en")
  include header
  body
    //- include includes/menu

    row.content
      include includes/mainPage

      include includes/getWaterFromTheTap

      include includes/truthsAndMyths

      include includes/howToSupport

      include includes/partners
      
      include includes/about
      
      include includes/media

    include footer
