include _mixins

doctype html
html(class="no-js", lang="en")
  include header
  body
    div.row
        h1 Tu będzie menu kiedyś

    div.row
        .small-1.columns
        .small-10.columns
          h1.question.dash
            | Czy w polskich miastach można pić wodę z kranu bez przegotowania?
        .small-1.columns
        //- ul
        //-   +listbutton('jakis tekst')
        //-   li Sass compiling (Ruby or Node/Libsass)
        //-   li Jade templating engine (option)
        //-   li Publishing to dist directory
        //-   li Server with LiveReload
        //-   li JSHint
        //-   li Grunt Bower install
        //-     .cos tekst
        //-   li Imagemin
        //-   li Font Awesome (option)
        //-   h1 Grunt tasks:
        //-   ul
        //-     li 'grunt' - watching (Sass, Server on 127.0.0.1:9000 with LiveReload)
        //-     li 'grunt compile-sass' - Sass
        //-     li 'grunt compile-jade' - Jade
        //-     li 'grunt validate-js' - JSHint
        //-     li 'grunt bower-install' - injecting bower libraries
        //-     li 'grunt publish' - dist directory
        //-     li 'grunt server-dist' - server on 127.0.0.1:9001 - dist directory (preview only)
        //-     h2(class="text-right")
        //-       a(href="https://github.com/juliancwirko/generator-zf5")
        //-         span github
        //-         | da.asdasdadadas
        //-         dasda
    include footer
