//- include _mixins

doctype html
html(lang="pl")
  include header
  body
    include includes/menu
    .content
      include includes/mainPage
      #tudostanieszwodezkranu.sectionBreak
      include includes/getWaterFromTheTap
      .sectionBreak
      include includes/truthsAndMyths
      .sectionBreak
      include includes/howToSupport
      .sectionBreak
      include includes/partners
      .sectionBreak
      include includes/about
      .sectionBreak
      include includes/media

    include footer
