include _mixins

doctype html
html(class="no-js", lang="en")
  include header
  body
    .row
      .small-8.medium-3.columns
        | logo
      .small-4.medium-9.columns
        //- na div niżej należy dodać .mobile-nav--show
        div
          div.mobile-nav__trigger
            span
          ul.mobile-nav
            li: a(href="#") Link 1
            li: a(href="#") Link 2
            li: a(href="#") Link 3
            li: a(href="#") Link 4
            li: a(href="#") Link 5
            li: a(href="#") Link 6

        ul.main-nav
          li: a(href="#") Link 1
          li: a(href="#") Link 2
          li: a(href="#") Link 3
          li: a(href="#") Link 4
          li: a(href="#") Link 5
          li: a(href="#") Link 6

    .row
      .small-12.medium-10.columns.small-centered
        h1.question.dash Czy w polskich miastach można pić wodę z kranu bez przegotowania?
        h1.blue Tak!
        p.blue Jakość wody wodociągowej określa Polskie prawo oraz regulacje Unii Europejskiej. Warto korzystać z wody z kranu, w porównaniu z wodą butelkowaną jest to znacznie wygodniejsze, tańsze i proekologiczne!

        //- ul
        //-   +listbutton('jakis tekst')
        //-   li Sass compiling (Ruby or Node/Libsass)
        //-   li Jade templating engine (option)
        //-   li Publishing to dist directory
        //-   li Server with LiveReload
        //-   li JSHint
        //-   li Grunt Bower install
        //-     .cos tekst
        //-   li Imagemin
        //-   li Font Awesome (option)
        //-   h1 Grunt tasks:
        //-   ul
        //-     li 'grunt' - watching (Sass, Server on 127.0.0.1:9000 with LiveReload)
        //-     li 'grunt compile-sass' - Sass
        //-     li 'grunt compile-jade' - Jade
        //-     li 'grunt validate-js' - JSHint
        //-     li 'grunt bower-install' - injecting bower libraries
        //-     li 'grunt publish' - dist directory
        //-     li 'grunt server-dist' - server on 127.0.0.1:9001 - dist directory (preview only)
        //-     h2(class="text-right")
        //-       a(href="https://github.com/juliancwirko/generator-zf5")
        //-         span github
        //-         | da.asdasdadadas
        //-         dasda
    include footer
