.row.section-anchor#onas(style="margin-bottom: 40px")
	.small-12.medium-10.columns.small-centered
		h1.section O nas
		h1.italic Cześć!
.row
	.small-12.medium-5.columns.medium-offset-1
		p.black.large-paragraph Żaden z nas nie jest hydrobiologiem i nie pracujemy w&nbsp;firmach związanych z wodą.
		p.black Obaj interesujemy się technologiami, fascynuje nas ich oddziaływanie na społeczeństwo, zarówno „klasycznych” wynalazków, ale też dość nowych, takich jak elektryczne samochody.
		p.black Nowoczesny wodociąg — rzecz bez której trudno wyobrazić sobie dziś życie – umożliwia nam utrzymanie higieny, ale też, co wciąż budzi w Polsce zdziwienie – dostęp do wody pitnej! W&nbsp;wielu europejskich i amerykańskich miastach prośba o wodę, oznacza prośbę o wodę z kranu.
	.small-12.medium-5.columns.end
		.row
			.small-12.medium-6.columns.text-center
				.row
					img(src="images/michal-kozurno.jpg")
				p.black.bold Michał Kożurno
			.small-12.medium-6.columns.text-center
				.row
					img(src="images/szymon-boniecki.jpg")
				p.black.bold Szymon Boniecki
.row
	.small-12.medium-10.columns.small-centered
		p.black Dlatego propagujemy picie wody z kranu hasłem: <span class="italic">Piję wodę z kranu.</span> Staramy się o to, aby bezpłatną, zdrową i zimną wodę z kranu można było dostać w każdym polskim urzędzie, restauracji, barze czy szkole.

		p.black Po roku działalności zdecydowaliśmy się zarejestrować fundację <span class="italic">Czyściutko</span>, aby popularyzować idee racjonalnego wykorzystania zasobów, ograniczenia ilości zbędnych odpadów przy jednoczesnym podwyższeniu jakości życia.
