.row
	.small-12.medium-4.columns
		//- TODO fonty z nowego sketcha
		h1 Cześć!
		p.black.bold Żaden z nas nie jest hydrobiologiem i nie pracujemy w firmach związanych z wodą.
		p.black Obaj interesujemy się technologiami, fascynuje nas ich oddziaływanie na społeczeństwo, zarówo „klasyczych” wynalazków, ale też dość nowych, takich jak elektryczne samochody.
		p.black Nowoczesny wodociąg — rzecz bez której ciężko wyobrazić sobie dziś życie – umożliwia nam utrzymanie higieny, ale też, co wciąż budzi w Polce zdziwienie – dostęp do wody pitnej! W wielu europejskich i amerykańskich miastach prośba o wodę, oznacza prośbę o wodę z kranu.
	.small-12.medium-8.columns
		.row.about
			.small-12.medium-6.columns
				//- TODO wyśrodkować obrazki na małym ekranie.
				.michal-kozurno
				p.black.bold.centered Michał Kożurno 
			.small-12.medium-6.columns
				.szymon-boniecki
				p.black.bold.centered Szymon Boniecki
	.small-12.columns
		p.black Dlatego powołaliśmy do życia hasło: <span class="bold">Piję wodę z kranu.</span> Po roku działalności zdecydowaliśmy się zarejestrować fundację „Czyściutko”, która ma popularyzować idee racjonalnego wykorzystania zasobów, aby bezpłatną, zdrową i zimną wodę z kranu można było dostać w każdym polskim urzędzie, restauracji, barze, czy szkole.