.row.section-anchor#onas
	.small-12.columns
		h1 Cześć!
.row
	.small-12.medium-4.columns
		p.black.lightBold Żaden z nas nie jest hydrobiologiem i nie pracujemy w firmach związanych z wodą.
		p.black Obaj interesujemy się technologiami, fascynuje nas ich oddziaływanie na społeczeństwo, zarówo „klasyczych” wynalazków, ale też dość nowych, takich jak elektryczne samochody.
		p.black Nowoczesny wodociąg — rzecz bez której ciężko wyobrazić sobie dziś życie – umożliwia nam utrzymanie higieny, ale też, co wciąż budzi w Polce zdziwienie – dostęp do wody pitnej! W wielu europejskich i amerykańskich miastach prośba o wodę, oznacza prośbę o wodę z kranu.
	.small-12.medium-8.columns
		.row
			.small-12.medium-6.columns.text-center
				//- TODO wyśrodkować obrazki na małym ekranie.
				img(src="images/michal-kozurno.png")
				p.black.bold Michał Kożurno
			.small-12.medium-6.columns.text-center
				img(src="images/szymon-boniecki.png")
				.szymon-boniecki
				p.black.bold Szymon Boniecki
	.small-12.columns
		p.black Dlatego powołaliśmy do życia hasło: <span class="italic">Piję wodę z kranu.</span>. Staramy się o to, aby bezpłatną, zdrową i zimną wodę z kranu można było dostać w każdym polskim urzędzie, restauracji, barze czy szkole.

		p.black Po roku działalności zdecydowaliśmy się zarejestrować fundację <span class="italic">Czyściutko</span>, która ma popularyzować idee racjonalnego wykorzystania zasobów, ograniczenia ilości zbędnych odpadów przy jednoczesnym podwyższeniu jekości życia.