.row
      .columns.small-12.medium-10.small-centered
        h1.question Jak wesprzeć akcję?

    .row
      .columns.small-10.small-centered
        ol.how-to-help
          li
            | Powiedz swoim znajomym o akcji
            p Jeszcze kilka lat temu sami piliśmy wodę butelkowaną, bo nikt nam nie powiedział, że ta z kranu jest równie dobra!
            .text-center
              button.button.radius.with-icon
                i.social-facebook
                span Podziel się
                  br
                  | na facebooku

          li
            | Skontaktuj się z nami, jeśli masz inny pomysł na wsparcie akcji
            p Napisz do nas, jeśli uważasz, że powinniśmy podjąć inne działania lub chcesz nam coś zasugerować.
            .text-center
              button.button.radius.with-icon
                i.envelope
                span Skontaktuj się:
                  br
                  |  kontakt@pijewodezkranu.org

          li Kup sobie lub bliskiej osobie fajną butelkę!

    .row
      .columns.small-12.medium-10.small-centered
        h1 Przygotowaliśmy butelkę–cegiełkę. Dzięki niej możesz mieć wodę z kranu zawsze ze sobą!
        p Od ponad 1,5 roku prowadzimy akcję w wolnym czasie i za własne pieniądze. Mamy sporo pomysłów, które powoli wdrażamy, ale chcemy to przyspieszyć, więc potrzebujemy wsparcia. Dlatego możecie wesprzeć akcję przez zakup praktycznej butelki: cena to 59zł z czego 11zł trafi na konto naszej fundacji.

    .row
      .columns.small-12.medium-8.bottles

      .columns.small-12.medium-4.bottles-cta
        button.button.with-icon--vertical.radius
          i
          | Zamów butelkę