.row.section-anchor#wesprzyj
  .columns.small-12.medium-10.small-centered
    h1.section Jak wesprzeć akcję?

.row
  .columns.small-12.medium-10.small-centered
    h1 Zbieramy na poidełko dla szkoły!
    p Od ponad 2 lat prowadzimy akcję, w wolnym czasie, za pieniądze własne i sponsorów. Mamy sporo pomysłów, które powoli udaje nam się wdrażać, ale nasza najnowsza inicjatywa potrzebuje społecznego wsparcia!

section.pomagam
  .row
    .columns.small-12.medium-5.small-centered
      iframe(width="400px" height="375px" frameborder="0" scrolling="no" src="https://pomagam.pl/pijewodezkranu/widget/")
      div.row.loading
        .small-12.text-center.columns
          p Ładuję element…

.row
  .columns.small-12.medium-10.small-centered
    p Problem słodzonych napojów w szkołach został już dawno rozpoznany. Kiedy dzieciom chce się pić i stają przed wyborem: wydać kieszonkowe na słodki napój czy wodę mineralną — wygrywa napój. Cukier prowadzi do otyłości i niezdrowych przyzwyczajeń żywieniowych. Dlatego w szkołach zaczęsto montować poidełka ze świeżą, czystą i darmową wodą z kranu!
    p.black W ramach naszej nowej inicjatywy zbieramy na poidełko, które zamontujemy w losowo wybranej szkole. Będziemy przyjmować zgłoszenia, rozmawiać z pracownikami i rodzicami, żeby wybrać miejsce, gdzie poidełko jest najbardziej potrzebne i najlepiej się sprawdzi!
