.row.section-anchor#wesprzyj
  .columns.small-12.medium-10.small-centered
    h1.section Jak wesprzeć akcję?

.row
  .columns.small-12.medium-10.small-centered
    ol.how-to-help
      li.black.small-10.small-centered.columns
        | Powiedz swoim znajomym o akcji
        p Jeszcze kilka lat temu sami piliśmy wodę butelkowaną, bo nikt nam nie powiedział, że&nbsp;ta z kranu jest równie dobra!

      .text-center
        a.button.with-icon.no-margin-top.radius.animated-hover(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pijewodezkranu.org" target="_blank")
          i.social-facebook
          span Podziel się na facebooku

      li.black.small-10.small-centered.columns
        | Skontaktuj się z nami, jeśli masz inny pomysł na wsparcie akcji
        p Napisz do nas, jeśli uważasz, że powinniśmy podjąć inne działania lub chcesz nam coś zasugerować.

      .text-center
        a.button.radius.with-icon.animated-hover(href="mailto:kontakt@pijewodezkranu.org")
          i.envelope-sprite
          span Skontaktuj się:<br>kontakt@pijewodezkranu.org

      li.black.small-10.small-centered.columns Kup sobie lub bliskiej osobie fajną butelkę!

.row
  .columns.small-12.medium-10.small-centered
    h1 Przygotowaliśmy butelkę–cegiełkę. Dzięki niej możesz mieć wodę z kranu zawsze ze sobą!
    p Od ponad 1,5 roku prowadzimy akcję w wolnym czasie i za własne pieniądze. Mamy sporo pomysłów, które powoli wdrażamy, ale chcemy to przyspieszyć, więc potrzebujemy wsparcia. <span class="lightBold">Dlatego możecie wesprzeć akcję przez zakup praktycznej butelki: <span class="bold">cena to 49zł z czego 9zł trafi na konto naszej fundacji.</span></span>

.row
  .columns.small-12.medium-12.bottles
    .row
      .columns.small-12.medium-6.medium-offset-6.text-center
        a.button.with-icon--vertical.radius.bottles-cta.animated-hover(href="http://butelka.pijewodezkranu.org" target="_BLANK")
          i.heart
          span Zamów butelkę

.row
  .columns.small-12.medium-10.small-centered
    p.italic.black Butelki wyprodukowała dla nas firma Equa, są bardzo wytrzymałe, lekkie i szczelne (przetestowane przez nas w&nbsp;każdych warunkach!). Zrobione ze specjalnego tworzywa Eastman Tritan®, które nie zawiera BPA, są odporne na&nbsp;mycie w zmywarce i wyparzanie wrzątkiem. Mają dwie niezależnie nakrętki, więc łatwo je myć i wrzucić ulubione zioła albo owoce!
