.row.mainPage
  .small-12.medium-10.columns.small-centered
    h1.question.dash Czy w polskich miastach można pić wodę z kranu bez przegotowania?
    h1.blueBold Tak!
    p.blue Jakość wody wodociągowej określa Polskie prawo oraz regulacje Unii Europejskiej.
      | Woda z kranu w Londynie, Paryżu i Warszawie spełnia te same wymagania!

.row
  .small-12.medium-10.columns.small-centered
    div(id="fb-root")
    .fb-like(data-href="https://www.facebook.com/PijeWodeZKranu" data-width="900" data-layout="standard" data-action="like" data-show-faces="true" data-share="false")
    p.black Piję wodę z kranu to społeczna inicjatywa promująca ideę zrównoważonego rozwoju. Zrodziła się z pytania o to dlaczego w kraju, w którym prawie każdy ma bezpośredni dostęp do wysokiej jakości wody w domu, wciąż kupuje się wodę butelkowaną, co jest nieekologiczne, nieekonomiczne i niepraktyczne.

.row#mainPageSection
  .small-12.medium-6.columns.small-centered
    blockquote.quote.big-quote Piję wodę z kranu, bo jest bardzo dobrej jakości, bo jest znacznie tańsza od butelkowej, kupowanej w sklepie oraz dlatego, że czuję się odpowiedzialny za przyrodę wokół mnie.
      cite.cite-with-portrait
        img.cite-portrait-large(src="images/stanislaw-czachorowski.png")
        .cite-author
          span Prof. UWM dr hab. Stanisław Czachorowski
          span.cite-location Wydział Biologii i Biotechnologii
            br
            | UWM w Olsztynie
