.row.mainPage
  .small-12.medium-10.columns.small-centered
    h1.question.dash Czy w polskich miastach można pić wodę z kranu bez przegotowania?
    h1.blueBold Tak!
    p.blue Jakość wody wodociągowej określa Polskie prawo oraz regulacje Unii Europejskiej.
      | Woda z kranu w Londynie, Paryżu i Warszawie spełnia te same wymagania!

.row
  .small-12.medium-10.columns.small-centered
    div(id="fb-root")
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1560383574236987',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&appId=1560383574236987&version=v2.0";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    .fb-like-box(data-href="https://www.facebook.com/PijeWodeZKranu" data-width="100%" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false")
    p.black Piję wodę z kranu to społeczna inicjatywa promująca ideę zrównoważonego rozwoju. Zrodziła się z pytania o to dlaczego w kraju, w którym prawie każdy ma bezpośredni dostęp do wysokiej jakości wody w domu, wciąż kupuje się wodę butelkowaną, co jest nieekologiczne, nieekonomiczne i niepraktyczne.

.row#mainPageSection
  .small-12.medium-6.columns.small-centered
    blockquote.quote Piję wodę z kranu, bo jest bardzo dobrej jakości, bo jest znacznie tańsza od butelkowej, kupowanej w sklepie oraz dlatego, że czuję się odpowiedzialny za przyrodę wokół mnie.
      cite.cite-with-portrait
        img.cite-portrait-large(src="images/stanislaw-czachorowski.png")
        .cite-author
          span Prof. UWM dr hab. Stanisław Czachorowski
          span.cite-location Wydział Biologii i Biotechnologii
            br
            | UWM w Olsztynie
