.row.mainPage
  .small-12.medium-10.columns.small-centered
    h1.question.dash Czy w polskich miastach można pić wodę z kranu bez przegotowania?
    h1.blueBold Tak!
    p.blue Jakość wody wodociągowej określa Polskie prawo oraz regulacje Unii Europejskiej. Warto korzystać z wody z kranu, w porównaniu z wodą butelkowaną jest to znacznie wygodniejsze, tańsze i proekologiczne!

.row
  .small-12.medium-10.columns.small-centered
    h1 {{ Tu facebook }}
    p.black Piję wodę z kranu to społeczna inicjatywa promująca ideę zrównoważonego rozwoju. Zrodziła się z pytania o to dlaczego w kraju, w którym prawie każdy ma bezpośredni dostęp do wysokiej jakości wody w domu, wciąż kupuje się wodę butelkowaną, co jest nieekologiczne, nieekonomiczne i niepraktyczne.

.row
  .small-12.medium-8.columns.small-centered
    blockquote.quote Placeholder z cytatem. Przykład: Cieszę się, że coraz więcej polskich knajp oferuje gościom darmową wodę z kranu!
      cite prof. Stanisław Czachorowski
        span.cite-location Uniwersytet xxx
