.row
	.small-12.medium-4.columns
		button.button.radius.with-icon
			i.envelope
			span Pobierz materiały prasowe  (logo, zdjęcia, teksty)
	.small-12.medium-4.columns
		button.button.radius.with-icon
			i.envelope
			span Skontaktuj się: kontakt@pijewodezkranu.org

.row.media
	.small-12.columns
		.header Ważne teksty:
		p
			a(href='http://polska.newsweek.pl/kto-odkreci-kurek,107846,1,1.html' target='_blank') Newsweek: Kto odkręci kurek? 
			br
			a(href='http://www.wprost.pl/ar/431969/Lekarze-Polska-kranowke-mozna-bezpiecznie-pic-bez-gotowania/?pg=0' target='_blank') Wprost, Lekarze: Polską kranówkę można bezpiecznie pić bez gotowania
			br
			a(href='http://warszawa.gazeta.pl/warszawa/1,34862,16376482,W_tych_knajpach_podaja_kranowke_i_jeszcze_sie_tym.html' target='_blank') Gazeta Warszawa, W tych knajpach podają kranówkę i jeszcze się tym chwalą (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='http://wyborcza.pl/1,75478,16408312,Wchodzisz_do_lokalu__mowisz___Poprosze_wode_za_darmo__.html' target='_blank') Wyborcza.pl, Wchodzisz do lokalu, mówisz: "Poproszę wodę za darmo". I dostajesz kranówkę (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='http://www.wysokieobcasy.pl/wysokie-obcasy/1,100961,13640582,Czlowiek_z_kamienia.html' target='_blank') Wysokie Obcasy, Człowiek z kamienia
			br
			a(href='http://www.ekogazeta.com.pl/ekozdrowie/item/434-nie-dla-wody-butelkowanej.html' target='_blank') Eko Gazeta, Nie dla wody butelkowanej (woda a recykling)
			br
			a(href='http://magazyn-kuchnia.pl/magazyn-kuchnia/56,121951,15144909,Polacy_nie_maja_zaufania_do_wody_z_kranu.html' target='_blank') Magazyn Kuchnia, Polacy nie mają zaufania do wody z kranu (informacje ogólne)
			br
			a(href='http://kmag.pl/article/1838,_picie-kranowki-jest-modne' target='_blank') K MAG, Picie kranówki jest modne (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='http://wyborcza.pl/1,75476,16340851,Morza_i_oceany_sa_zasypane_plastikiem.html' target='_blank') Wyborcza.pl, Morza i oceany są zasypane plastikiem (Woda butelkowana a śmieci)

		.header Kranówka w telewizji / radio:
		p
			a(href='http://www.polskieradio.pl/7/129/Artykul/908952,Pijmy-wode-z-kranu-Zdrowo-taniej-i-ekologicznie' target='_blank') Polskieradio.pl, Pijmy wodę z kranu. Zdrowo, taniej i ekologicznie.
			br
			a(href='http://www.ipla.tv/2013-08-10-zdrowa-woda-kranowa/vod-5755941' target='_blank') Polsat News, Zdrowa woda kranowa
			br
			a(href='http://www.polskieradio.pl/9/396/Artykul/1194369,Czy-moze-zabraknac-nam-wody-' target='_blank') PolskieRadio.pl, Czy Może nam zabraknąć wody?
			br
			a(href='http://www.polskieradio.pl/130/2787/Artykul/1194628,Pije-wode-z-kranu' target='_blank') PolskieRadio.pl, Piję wodę z kranu
		
		.header Opinie:
		p
			a(href='http://natemat.pl/60677,woda-w-knajpie-powinna-byc-za-darmo-koniec-z-marza' target='_blank') NaTemat, Woda w knajpie powinna być za darmo.
			br
			a(href='http://www.krytykapolityczna.pl/artykuly/opinie/20130903/pijmy-dobra-wode-z-kranu' target='_blank') Krytyka Polityczna, Pijmy dobrą wodę z kranu. 
			br
			a(href='http://www.woda.edu.pl/artykuly/reklamy_wody/' target='_blank') Woda.edu.pl, Korpla bez kitu. Co kupujemy z butelką wody?
			br
			a(href='http://www.krytykapolityczna.pl/MaciejNowak/Notochlup/menuid-27.html' target='_blank') Krytyka Polityczna, No to chlup
			br
			a(href='http://www.woda.edu.pl/artykuly/z_butelki_czy_z_kranu/' target='_blank') Woda.edu.pl, Z butleki czy z kranu?
			br
			a(href='http://prostozkranu.krakow.pl/zagrozenia-zwiazane-metabolitami-lekow-narkotykow-systemach-wodociagowych/' target='_blank') Zielony Jazdów, Debata 2013 (Zapis video) (Debata o wodzie)
	
		.header Kranówka w polskich miastach:
		p 
			.city Kraków:
			a(href='http://wiadomosci.onet.pl/krakow/krakowska-kranowka-pic-czy-nie-pic/z4x5f' target='_blank') Onet.pl, Krakowska "kranówka" - pić czy nie pić?
			br
			a(href='http://lovekrakow.pl/aktualnosci/w-krakowskiej-restauracji-o-wode-z-kranu-musisz-sam-poprosic_6429.html' target='_blank') LoveKrakow.pl, W krakowskiej restauracji o wodę z kranu musisz sam poprosić
			//- TODO co z linkiem: http://www.youtube.com/watch?v=zEbWK2G23gY ?
		p 
			.city Opole:
			a(href='http://opole.gazeta.pl/opole/1,35114,16620614,W_tym_lokalu_do_picia_podaje_sie_____kranowe_.html' target='_blank') Gazeta Opole, W tym lokalu do picia podaje się... "kranówę"
		p 
			.city Warszawa:
			a(href='http://warszawa.gazeta.pl/warszawa/1,34889,14410580,Nie_kupuj_wody_w_sklepie__Z_kranu_leci_taka_sama_.html' target='_blank') Gazeta Warszawa, Nie kupuj wody w sklepie. Z kranu leci taka sama!
			br
			a(href='http://halo-wawa.pl/woda-z-kranu-nie-taka-zla/' target='_blank') Halo-Wawa, Woda z kranu nie taka zła
		p
			.city Wrocław:
			a(href='http://www.gazetawroclawska.pl/artykul/759415,moj-reporter-czy-we-wroclawiu-mozna-pic-wode-prosto-z-kranu,id,t.html' target='_blank') Gazeta Wrocław, Mój reporter: Czy we Wrocławiu można pić wodę prosto z kranu?
			br
			a(href='http://wroclaw.gazeta.pl/wroclaw/1,35751,17411584,Pijmy_wode_z_kranu__Jak_Bill_Gates.html#BoxLokWrocLink' target='_blank') Gazeta Wrocław, Pijmy wodę z kranu, zamiast butelkowanej. Jak Bill Gates. To tanie, zdrowe i ekologiczne
		//- TODO co z resztą miast z DOCa?