.menu
  .row
    .small-8.medium-1.large-3.columns
      a.logo(id="logo" href="/")
        img(src="images/logo.png")
        .title.black.hide-for-medium Piję wodę z kranu
    .small-4.medium-11.large-9.columns
      div
        div.mobile-nav__trigger
          span#mobile-nav__trigger
        ul.mobile-nav
          li: a.mobile-nav__element(href="#wesprzyj") Wesprzyj
          li: a.mobile-nav__element(href="#tudostanieszwodezkranu")
            span Tu dostaniesz wodę z kranu
          li: a.mobile-nav__element(href="#prawdyimity") Prawdy i mity
          li: a.mobile-nav__element(href="#partnerzy") Partnerzy
          li: a.mobile-nav__element(href="#onas") O nas
          li: a.mobile-nav__element(href="#prasa") Prasa

      ul.main-nav#mainMenu
        li: a(id="wesprzyjMenu" href="#wesprzyj") Wesprzyj
        li: a(id="tudostanieszwodezkranuMenu" href="#tudostanieszwodezkranu" class="smallDrop") Tu dostaniesz wodę z kranu
        li: a(id="prawdyimityMenu" href="#prawdyimity") Prawdy i mity
        li: a(id="partnerzyMenu" href="#partnerzy") Partnerzy
        li: a(id="onasMenu" href="#onas") O nas
        li: a(id="prasaMenu" href="#prasa") Prasa
