.menu
  .row
    .small-8.medium-5.large-3.columns
      .row
        .small-4.columns
          .logo
        .small-8.columns
          .title.black Piję wodę z kranu
    .small-4.medium-7.large-9.columns
      //- na div niżej należy dodać .mobile-nav--show
      div
        div.mobile-nav__trigger
          span
        ul.mobile-nav
          li: a(href="#") Tu dostaniesz wodę z kranu
          li: a(href="#") Prawdy i mity
          li: a(href="#") Wesprzyj
          li: a(href="#") Partnerzy
          li: a(href="#") O nas
          li: a(href="#") Prasa

      ul.main-nav
        //- TODO do poprawienia kropla
        li: a(href="#" class="smallDrop") Tu dostaniesz wodę z kranu
        li: a(href="#") Prawdy i mity
        li: a(href="#") Wesprzyj
        li: a(href="#") Partnerzy
        li: a(href="#") O nas
        li: a(href="#") Prasa
