.row.section-anchor#partnerzy
	.small-12.medium-4.small-centered.columns
		h3.black.bold.centered Partnerzy merytoryczni
.row.partners
	.medium-10.columns.medium-centered
		.row
			.small-12.medium-4.columns
				cite.cite-with-portrait
					img.cite-portrait-large(src="images/stanislaw-czachorowski.png")
					.cite-author
						span.cite-location  Prof. UWM dr hab. <br>Stanisław Czachorowski
			.small-12.medium-4.columns
				cite.cite-with-portrait
					img.cite-portrait-large(src="images/marek-biziuk.png")
					.cite-author
						span.cite-location Prof. dr hab. <br>Marek Biziuk
			.small-12.medium-4.columns
				cite.cite-with-portrait
					img.cite-portrait-large(src="images/lukasz-balwicki.png")
					.cite-author
						span.cite-location  Dr n. med. <br>Łukasz Balwicki

.row
	.small-12.medium-4.small-centered.columns.text-center
		h3.black.bold Sponsorzy
.row.partners.small-text-center
	.small-12.medium-6.columns.medium-text-right
		img.cite-portrait-large(src="images/zawodniacy.png")
	.small-12.medium-6.columns.medium-text-left
		img.cite-portrait-large(src="images/equa.png")

.row
	.small-12.medium-4.small-centered.columns.text-center
		h3.black.bold Partnerzy medialni
.row.partners.small-text-center
	.small-12.medium-6.columns.medium-text-right
		img.cite-portrait-large(src="images/kierunek_wodkan_pion.png")
	.small-12.medium-6.columns
		img.cite-portrait-large(src="images/ulica-ekologiczna-logo-2.png")


.row
	.columns.small-12.medium-10.small-centered
		p.black.centered Jesteś zainteresowany współpracą? Napisz do nas:
			a(href='mailto:kontakt@pijewodezkranu.org') kontakt@pijewodezkranu.org
