.row
	.small-12.medium-4.small-centered.columns
		p.black.bold.centered Partnerzy merytoryczni
.row.partners
	.small-12.medium-4.columns
		//- TODO tekst za nisko się zaczyna
		p.stanislaw-czachorowski.centered prof. UWM dr hab.
			br
			| Stanisław Czachorowski
	.small-12.medium-4.columns
		p.marek-biziuk.centered Prof. dr hab.
			br
			| Marek Biziuk
	.small-12.medium-4.columns
		p.lukasz-balwicki.centered Dr n. med.
			br
			| Łukasz Balwicki

.row
	.small-12.medium-4.small-centered.columns
		p.black.bold.centered Sponsorzy
.row.partners
	.small-12.medium-4.small-centered.columns
		p.equa.centered

.row
	.small-12.medium-4.small-centered.columns
		p.black.bold.centered Partnerzy medialni
.row.partners
	//- TODO rozjechane przy medium-up
	.small-12.medium-4.columns
		p.kierunek-wodkan.centered
	.small-12.medium-4.columns
		p.ulica-ekologiczna.centered

.row
	.columns.small-12.medium-10.small-centered
		p.black.centered Jesteś zainteresowany współpracą? Napisz do nas: kontakt@pijewodezkranu.org
