.row
	.small-12.medium-4.columns
		button.button.radius.with-icon
			i.envelope
			span Pobierz materiały prasowe (logo, zdjęcia, teksty)
	.small-12.medium-4.columns
		button.button.radius.with-icon
			i.envelope
			span Skontaktuj się: kontakt@pijewodezkranu.org

.row.media
	.small-12.columns
		.header Ważne teksty:
		p
			a(href='') Newsweek: Kto odkręci kurek? 
			br
			a(href='') Wprost, Lekarze: Polską kranówkę można bezpiecznie pić bez gotowania
			br
			a(href='') Gazeta Warszawa, W tych knajpach podają kranówkę i jeszcze się tym chwalą (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='') Wyborcza.pl, Wchodzisz do lokalu, mówisz: "Poproszę wodę za darmo". I dostajesz kranówkę (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='') Wysokie Obcasy, Człowiek z kamienia
			br
			a(href='') Eko Gazeta, Nie dla wody butelkowanej (woda a recykling)
			br
			a(href='') Magazyn Kuchnia, Polacy nie mają zaufania do wody z kranu (informacje ogólne)
			br
			a(href='') K MAG, Picie kranówki jest modne (o akcji: tu dostaniesz wodę z kranu)
			br
			a(href='') Wyborcza.pl, Morza i oceany są zasypane plastikiem (Woda butelkowana a śmieci)

		.header Kranówka w telewizji / radio:
		p
			a(href='') Polskieradio.pl, Pijmy wodę z kranu. Zdrowo, taniej i ekologicznie.
			br
			a(href='') Polsat News, Zdrowa woda kranowa
			br
			a(href='') PolskieRadio.pl, Czy Może nam zabraknąć wody?
			br
			a(href='') PolskieRadio.pl, Piję wodę z kranu
		
		.header Opinie:
		p
			a(href='') NaTemat, Woda w knajpie powinna być za darmo.
			br
			a(href='') Krytyka Polityczna, Pijmy dobrą wodę z kranu. 
			br
			a(href='') Woda.edu.pl, Korpla bez kitu. Co kupujemy z butelką wody?
			br
			a(href='') Krytyka Polityczna, No to chlup
			br
			a(href='') Woda.edu.pl, Z butleki czy z kranu?
			br
			a(href='') Zielony Jazdów, Debata 2013 (Zapis video) (Debata o wodzie)
	
		.header Kranówka w polskich miastach:
		p 
			.city Kraków:
			a(href='') Onet.pl, Krakowska "kranówka" - pić czy nie pić?
			br
			a(href='') LoveKrakow.pl, W krakowskiej restauracji o wodę z kranu musisz sam poprosić
		p 
			.city Opole:
			a(href='') Gazeta Opole, W tym lokalu do picia podaje się... "kranówę"
		p 
			.city Warszawa:
			a(href='') Gazeta Warszawa, Nie kupuj wody w sklepie. Z kranu leci taka sama!
			br
			a(href='') Halo-Wawa, Woda z kranu nie taka zła
		p
			.city Wrocław:
			a(href='') Gazeta Wrocław, Mój reporter: Czy we Wrocławiu można pić wodę prosto z kranu?
			br
			a(href='') Gazeta Wrocław, Pijmy wodę z kranu, zamiast butelkowanej. Jak Bill Gates. To tanie, zdrowe i ekologiczne