.row.section-anchor#prawdyimity
  .small-12.medium-10.columns.small-centered
    h1.section Woda z kranu jest inna niż 10 lat temu!
      br
      | Co się zmieniło?
    p.centered.myths-title <span class="blue bold">PRAWDY</span> i <span class="red bold">MITY</span>
section.myths
  .row
    .small-12.medium-5.columns.medium-offset-1
      p.myth.italic.red Zawsze byłem przekonany, że woda w kranie nie nadaje się do picia, a wręcz jest trująca.
      blockquote.quote.blue.no-author <span class="bold">W ostatnich latach gruntownie zmodernizowano systemy uzdatniania wody.</span> Warszawa, Kraków, Wrocław, Poznań, Gdańsk, Łódź, Lublin, Katowice i wiele innych miast mają teraz świetną wodę!!

      p.myth.italic.red Słyszałem, że w wodzie kranowej nie ma minerałów.
      blockquote.quote.blue.no-author Woda z kranu posiada minerały w tym biopierwiastki takie jak wapń i magnez. Ich ilość jest zależna od miejsca np. w Warszawie: jest to ok 250 mg/l, a w Krakowie: ponad 300 mg/litr. Denerwuje Cię kamień osadzający się w&nbsp;czajniku? To są właśnie cenne minerały!

      p.myth.italic.red Przegotowana woda jest zdrowsza.
      blockquote.quote.blue Przegotowanie wody powoduje wytrącenie w postaci osadu (kamienia) części minerałów – zwłaszcza związków wapnia i magnezu – co zmiękcza wodę, ale również powoduje zubożenie składu mineralnego wody. Z tego powodu gotowanie wody nie jest zalecane przy bezpośrednim spożyciu.
        cite.cite-with-portrait
          img.cite-portrait-small(src="images/marek-biziuk.png")
          .cite-author
            span Prof. dr hab. Marek Biziuk
            span.cite-location Wydział Chemiczny Politechniki Gdańskiej

    .small-12.medium-5.columns.end
      p.myth.red Zawsze mi powtarzano, że od picia kranówy będę miał kamienie nerkowe.
      blockquote.quote.blue <span class="bold">Picie wody kranowej nie odpowiada za powstawanie kamieni nerkowych oraz żółciowych.</span>
        cite Lek. med. Konstanty Radziwiłł
          span.cite-location prezes Naczelnej Rady Lekarskiej w Naczelnej Izbie Lekarskiej (2001-2010)

      p.myth.red Woda płynie rurami miejskimi, każdy może coś do niej dosypać.
      blockquote.quote.blue <span class="bold">Jakość wody jest kontrolowana, także podczas transportu rurami.</span> Panujące w nich wysokie ciśnienie oraz to, że są położne głęboko w ziemi, sprawia, że ich nawiercenie i dodanie czegokolwiek do wody jest niemożliwe.
        cite.cite-with-portrait
          img.cite-portrait-small(src="images/tadeusz-bochnia.png")
          .cite-author
            span Dr Tadeusz Bochnia
            span.cite-location Kierownik Centralnego Laboratorium MPWiK Kraków

      p.myth.red Wiele razy widziałem, że z kranu leci brązowa woda. Myślę, że można się nią zatruć.
      blockquote.quote.blue.no-author Brązowe zabarwienie zazwyczaj jest wynikiem podwyższonej zawartości żelaza. Może ono powstawać w trakcie napraw lub czyszczenia sieci oraz w okresie wakacyjnych wyjazdów, kiedy mniej ludzi korzysta z wody. Samo żelazo nie jest szkodliwe, ale gdy woda ma dziwny wygląd, zalecamy powstrzymać się od jej picia do momentu zniknięcia przebarwienia.

.row
  .columns.small-12.medium-5.medium-offset-1
    p.italic.bold Jak dziś działa kontrola jakości wody z Twojego kranu?
    p Częstotliwość badania jakości wody jest powiązana z wielkością jej przepływu:

    p
      span.bold Jeśli mieszkasz w dużym lub średnim mieście,
      |  Twoja woda jest z pewnością bardzo często kontrolowana. Jest badana zarówno przed wpuszczeniem, jak i podczas transportu siecią wodociągową. Jedynym i za razem najkrótszym odcinkiem, na którym za wodę nie odpowiada jej producent, jest instalacja wodociągowa w&nbsp;budynku. Za jej stan odpowiada zarządca.

    p
      span.bold Jeśli mieszkasz na wsi lub w małym mieście
      |  i nie masz zaufania do swojej wody, możesz zadzwonić i&nbsp;zapytać o jej jakość w zaopatrującym cię zakładzie wodociągowym, lokalnej stacji sanepidu albo zlecić dodatkowe badanie we własnym zakresie.

    p
      span.bold Jeśli masz wodę z własnej studni
      |  za jej jakość i&nbsp;badanie odpowiadasz sam.

  .columns.small-12.medium-5.end
    p.italic.bold Najciekawsze źródła o wodzie z kranu:

    iframe(width='100%', height="250", src="https://www.youtube.com/embed/uL9kyYQ7Tfs", frameborder="0", allowfullscreen='allowfullscreen')
    p Co się czai w wodzie z kranu? | Polimaty

    iframe(width='100%', height="250", src='https://www.youtube.com/embed/Se12y9hSOM0', frameborder='0', allowfullscreen='allowfullscreen')
    p Krótka historia wody butelkowanej
